<div class="jumbotron">
  <h1 class="display-3">Listado Peliculas</h1>
  <div class="container grid">
    <div class="card mb-4 shadow-sm" style="width: 18rem" *ngFor="let pelicula of listaPeliculas">

      <img class="card-img-top" [src]="pelicula.fotoPelicula" alt="Card image cap" />
      <div class="card-body text-center">
        <h5 class="card-title">{{ pelicula.nombre }}</h5>
        <button class="btn btn-primary col-7" type="button" (click)="seleccionarEntidad(pelicula)">
          SELECCIONAR
        </button>
        <!--<button
          class="btn btn-primary col-7"
          type="button"
          (click)="seleccionarEntidad(pelicula)"
        >
          MODIFICAR
        </button>
        <button
          class="btn btn-primary col-7"
          type="button"
          (click)="seleccionarEntidad(pelicula)"
        >
          ELIMINAR
        </button>-->
      </div>

    </div>
  </div>
</div>

<!--<div class="card mb-4 shadow-sm" *ngFor="let pelicula of listaPeliculas">
      <img
              [src]="pelicula.fotoPelicula"
              style="width: 100px; height: 100px"
            />
      <button type="button" (click)="seleccionarEntidad(pelicula)">SELECCIONAR</button>
      <button type="button" (click)="seleccionarEntidad(pelicula)">MODIFICAR</button>
      <button type="button" (click)="seleccionarEntidad(pelicula)">ELIMINAR</button>
    </div>
  -->
<!--
<div class="jumbotron">
  <div class="container grid">
    
    <div class="card mb-4 shadow-sm" *ngFor="let pelicula of this.listaPeliculas">

          <p class="text-center" >{{pelicula.nombre}}</p>
          <img class="img-fluid" [src]="pelicula.foto">
          <div class="col-md-14 text-center">
            <button type="button" class="btn btn-light">Detalle</button>
            <button type="button" class="btn btn-light">Modificar</button>
            <button type="button" class="btn btn-light">Eliminar</button>
          </div>
    </div>


  </div>
</div>
-->