<section class="jumbotron text-center">
    <div class="container">
      <h1>Region: {{region}}</h1>
      <p class="lead text-muted">http://restcountries.eu/rest/v2</p>
      <p>
        <button class="btn btn-primary my-2" (click)="emitir('Europe')">EUROPA</button>
        <button class="btn btn-primary my-2" (click)="emitir('Asia')">ASIA</button>
        <button class="btn btn-primary my-2" (click)="emitir('Americas')">AMERICA</button>
        <button class="btn btn-primary my-2" (click)="emitir('Africa')">AFRICA</button>
      </p>
    </div>
  </section>