<input type='number' placeholder='Edad Uno' [(ngModel)]="edadUno"><br>
<input type='number'  placeholder='Edad Dos' [(ngModel)]="edadDos"><br>
<label>La suma es = {{suma}} </label><br>
<label>El promedio es = {{promedio}} </label><br>
<button (click)='calcular()'>calcular</button><br>
<button (click)='limpiar()'>limpiar cuadros de textos</button><br>

<div class="login-container">
    <label for="nombre">nombre = admin</label>
    <input id="nombre" type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre">
    <label for="clave">clave = 123456 </label>
    <input id="clave" type="password" placeholder="Clave" [(ngModel)]="usuario.clave">
    <input type="button" value="Login" (click)="submitLogin()">
</div>