<div *ngIf="usuario">
    <h1>COMPONENTE DETALLE</h1>
    <table>
        <tbody>
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>APELLIDO</td>
                <td>SEXO</td>
                <td>EMAIL</td>
                <td>NACIMIENTO</td>
                <td>FOTO</td>
            </tr>
            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.Nombre}}</td>
                <td>{{usuario.Apellido}}</td>
                <td>{{usuario.Sexo}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.FechaNac}}</td>
                <td><img [src]="usuario.FotoPerfil" style="width: 50px; height: 50px;"></td>
            </tr>
        </tbody>
    </table>
    <app-boton-entidad [entidad]="usuario"></app-boton-entidad>
</div>
