<div class="jumbotron">
  <h1 class="display-3">Listada Actores</h1>
  <div class="container grid">
    <div class="card mb-4 shadow-sm" style="width: 18rem" *ngFor="let actor of listaActores">

      <img class="card-img-top" [src]="actor.foto" alt="Card image cap" />
      <div class="card-body text-center">
        <h5 class="card-title">{{actor.nombre}} {{actor.apellido}}</h5>
        <button class="btn btn-primary col-7" type="button" (click)="emitirActor(actor)">
          SELECCIONAR
        </button>
        -<button
          class="btn btn-primary col-7"
          type="button"
          (click)="modificarActor(actor)"
        >
          MODIFICAR
        </button>
        <button
          class="btn btn-primary col-7"
          type="button"
          (click)="eliminarActor(actor)"
        >
          ELIMINAR
        </button>
      </div>

    </div>
  </div>
</div>