<div class="col-md-2 order-md-2 mb-2">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">LISTA PAISES</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between " *ngFor="let pais of listaPaises">
          <h6 class="my-0">{{pais.name}}</h6>
          <button type="button" class="btn btn-info" (click)="emitirPais(pais)">Agregar</button>
          <img style="width: 100px; height: 100px;" [src]="pais.flag"/>
      </li>
    </ul>
</div>